<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Nomor_Whatsapp_Sender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Nomor_Whatsapp_Sender.Properties.Settings>
            <setting name="SavedMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="MessageTemplate" serializeAs="String">
                <value />
            </setting>
            <setting name="TemplateActive" serializeAs="String">
                <value>عزيزي المشترك
%CustomerName%

نود إعلامك بأن اشتراكك في خدمة الإنترنت مع مكتب النمور للانترنت سينتهي قريبًا.

تاريخ انتهاء الاشتراك: %Expiration%
نوع الاشتراك: %BundleName%

تبقى على انتهاء اشتراكك: %يوم% يوم | %ساعة% ساعة | %دقيقة% دقيقة</value>
            </setting>
            <setting name="TemplateExpired" serializeAs="String">
                <value>عزيزي المشترك
%CustomerName%

نود إعلامك بأن اشتراكك في خدمة الإنترنت مع مكتب النمور للانترنت منتهي الصلاحية.


تاريخ انتهاء الاشتراك: %Expiration%
نوع الاشتراك: %BundleName%

انتهى اشتراكك قبل: %يوم% يوم | %ساعة% ساعة | %دقيقة% دقيقة</value>
            </setting>
            <setting name="SelectedDays" serializeAs="String">
                <value />
            </setting>
            <setting name="IsSchedulerRunning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NextScheduledTime" serializeAs="String">
                <value />
            </setting>
            <setting name="ExpirationStatus" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WhatsAppApiUrl" serializeAs="String">
                <value>http://localhost:3111/send?number={phone}&amp;message={message}</value>
            </setting>
            <setting name="LocationCoords" serializeAs="String">
                <value />
            </setting>
            <setting name="SendLocation" serializeAs="String">
                <value>True</value>
            </setting>
        </Nomor_Whatsapp_Sender.Properties.Settings>
    </userSettings>
</configuration>